/* 
    coded by choi, won-hyuk
    since 2021-03-14
*/


/* ----------------------------------------------------- */
/* general */
body {
    margin: 1.6em;
    font-size: 10pt;
    font-weight: lighter;
    font-family: '맑은 고딕'
}

p {
    line-height: 1.5em;
    margin-bottom: 1em;
}


/* ----------------------------------------------------- */
/* title */
h1 {
    color: rgb(73, 178, 141);
    font-size: 16pt;
    margin-top: 2em;
    margin-bottom: 1em;
}

h2 {
    color: rgb(73, 178, 141);
    font-size: 14pt;
    margin-top: 2.5em;
}

h3 {
    color: rgb(73, 178, 141);
    font-size: 12pt;
    margin-top: 2em;
}


/* ----------------------------------------------------- */
/* table */

table {
    break-inside: avoid;
    border-collapse: collapse;
    border: 1px solid #999999;
    margin: 2em 0em;
    width: 100%;
}

tr {
    break-inside: avoid;
}

th {
    padding: 0.4em;
    border: 1px solid #999999;
    background-color: rgb(230, 255, 224);
    color: black;
}

td {
    border: 1px solid #999999;
    padding: 0.6em;
}

td.vert {
    background-color: rgb(230, 230, 230);
    color: black;
    width: 6em;
    white-space:nowrap;
}

.opentable {
    border-collapse: collapse;
    border: 1px solid #999999;
}


/* ----------------------------------------------------- */
/* box */

pre.codebox {
    border: 1px solid rgb(73, 178, 141);
    line-height: 2em;
    width: 100%;
    font-family: monospace;

    margin: 2em 0em;
    padding: 0.8em 0.8em 0.8em 0.8em;
    overflow-x: auto;

    /* https://cloudless.tistory.com/106 */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */    
}

.caution_head, .ref_head {
    text-align: center;
    width: 6em;
}

.caution_head {
    background-color: yellow;
}

.ref_head {
    background-color: lightgray;
}


/* ----------------------------------------------------- */
/* image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

/* ----------------------------------------------------- */
/* list */

ol {
    counter-reset: li-counter;
}

ol li {
    list-style: none;
    counter-increment: li-counter;
    line-height: 2em;
}

ol li::before {
    content: counter(li-counter) ") ";
    color: rgb(73, 178, 141);
    font-weight: bold;
    margin-left: -1.3em;
}

/* paged.js의 TOC 출력에 문제를 일으켜서 remark 함.
ul {
    list-style: none;
}

ul li {
    line-height: 2em;
}

ul li::before {
    content: "\2022  ";
    font-size: 14pt;
    font-weight: bold;
    color: rgb(73, 178, 141);
    margin-left: -1.3em;
} */
