
<!DOCTYPE html:5>
<html>
    <head>
        <title><%= bookinfo.title %></title>
        <meta http-equiv=Content-Type content="text/html; charset=utf-8">
        <link href="../../css/book.css" type=text/css rel=stylesheet >
    </head>
    <body>
		<%- merged_in_body %>
    </body>
</html>
    