<!DOCTYPE html:5>
<html>
<head>
    <title>book cover back</title>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <link href="../../../css/book.css" type=text/css rel=stylesheet >
</head>
<body>
    <br class="page-break"></br>
    
    <div class="book-tail-addr" style='font-size: 9pt;'>
        <img src="../../../view/image/hdrobotics.png" width="320"/><br><br>
        Gyeonggi: 2<sup>nd</sup> Floor, Medi Park Bldg. 43, Dolma-ro, Bundang-gu, Seongnam-si, Gyeonggi-do, Republic of Korea<br>
        Daegu: 50 , Techno sunhwan-ro 3-gil, Yuga-myeon , Dalseong gun, Daegu, Republic of Korea<br>
        Ulsan: Rm# 201-5, Automobile & Ship Technologies Hall, 21, Maegoksaneop-ro, Buk-gu, Ulsan, Republic of Korea<br>
		Jungbu : 161, Songgok gil, Yeomchi-eup, Asan-si, Chungcheongnam-do, Republic of Korea<br>
		Gwangju: Rm#101, Bldg. B, 170-3 , Pyeongdongsandan-ro, Gwangsan-gu, Gwangju, Republic of Korea<br>
		ARS 1588-9997 | 1 Robot Sales 2 Service Sales 3 Purchase Consultation 4 Customer Support 5 Investment Inquiries 6 Recruitment and General Inquiries<br>
        <a href="www.hyundai-robotics.com">www.hyundai-robotics.com</a>
    </div>
</body>
</html>